<% layout('layouts/boilerplate') %>

<div class="container">
    <h1>Stranica za kafice</h1>
</div>

<% for (var i = 0; i < data.length; i++) { %>
    <div class="container">
        <p>Naziv: <%= data[i].kafic_naziv %> </p>
        <p>Adresa: <%= data[i].kafic_adresa %> </p>
        <p>Grad: <%= data[i].grad %> </p>
        <p>Kapacitet: <%= data[i].Kapacitet %> </p>
        <p>Slobodna mesta: <%= data[i].slobodna_mesta %> </p>
        <p>Radno vreme: <%= data[i].radno_vreme %> </p>
        <a href="/kafici/<%= data[i].kafic_id %>">Vise detalja</a>
        <hr>
    </div>
<% } %> 

<!-- 
    Stranica koja prikazuje sve kafice korisnicima
    Ovde se implementiraju funkcije za sortiranje i procedura za Select svih kafica
    Obavezna paginacija
 -->