<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="/css/glavni.css">

    <!-- Page CSS -->
    <link rel="stylesheet" href="/css/<%= style %>">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="/css/all.min.css">

    <title><%= title %></title>
</head>
<body class="d-flex flex-column vh-100">

    <%- include('../partials/navbar') %>

        <%- body %>

    <%- include('../partials/footer') %>


    
    <!-- jQery JavaScript -->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Font Awesome JavaScript -->
    <script src="/js/all.min.js"></script>
    <!-- Page JS -->
    <script src="/js/<%= js %>"></script>
</body>
</html>